<%- include('fragments/head.ejs')%>

    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/order.css">


    </head>

    <body>

        <!--include navigation.ejs-->
        <%- include('fragments/navigation.ejs')%>

            <main>
                <% if (orders.length <= 0) { %>
                    <h1>Nothing there!</h1>
                    <% } else { %>
                        <% number = 1000%>
                            <ul class="orders">
                                <% orders.forEach(order => { %>
                                    <li class="orders__item">

                                        <h1>Order#
                                            <%= ++number%>
                                                <%= %>
                                        </h1>

                                        <div>
                                        </div>
                                        <ul class="orders__products">
                                            <% order.products.forEach(p => { %>
                                                <li class="orders__products-item">

                                                    <a href="/products/<%= p.product._id%>">
                                                        <%= p.product.title %>
                                                    </a> -- -- --
                                                    <%= p.qty %>
                                                        -------- $
                                                        <%= p.product.price %>
                                                </li>
                                                <% }); %>


                                        </ul>
                                    </li>
                                    <% }); %>
                            </ul>
                            <% } %>
            </main>

            <%- include('fragments/end.ejs')%>